/*OVERALL*/
body {
    background-color: ghostwhite;
    font-family: "Arial", sans-serif;
    color: dimgrey;
}

/*NAV BAR*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ghostwhite;
    letter-spacing: 2.5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    /*position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;*/
}

li {
    float: right;
}

li a {
    display: block;
    font-size: 20px;
    padding: 15px;
    color: darkgray;
    text-decoration: none;

}

li a:hover {
    color: #00766F;
}

.active {
    color: #00A89F;
}

/*TEXT IN ABOUT*/

#lisa02,
#lisa04,
#lisa06,
#lisa08,
#lisa10 {
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    padding-top: 10%
}

#lisa08 {
    padding-top: 90px;
}

/*SQUARES*/
b {
    letter-spacing: 2.5px;
}

.order {
    margin: 2em;
}

/*THIS IS FOR THE BOXES IN INDEX*/

/*#1 BOX*/
.n000102 {
    background-image: url(/assets/projects/000102a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n000102:hover {
    background-image: url(/assets/projects/000102b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#2 BOX*/
.n010101 {
    background-image: url(/assets/projects/010101b.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n010101:hover {
    background-image: url(/assets/projects/010101a.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#3 BOX*/
.n010401 {
    background-image: url(/assets/projects/010401a.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n010401:hover {
    background-image: url(/assets/projects/010401b.jpg);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#4 BOX*/
.n020102 {
    background-image: url(/assets/projects/020102a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n020102:hover {
    background-image: url(/assets/projects/020102b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#5 BOX*/
.n020201 {
    background-image: url(/assets/projects/020201a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n020201:hover {
    background-image: url(/assets/projects/020201b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#6 BOX*/
.n020302 {
    background-image: url(/assets/projects/020302a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n020302:hover {
    background-image: url(/assets/projects/020302b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#7 BOX*/
.n020406 {
    background-image: url(/assets/projects/020406a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n020406:hover {
    background-image: url(/assets/projects/020406b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#8 BOX*/
.n030101 {
    background-image: url(/assets/projects/030101a.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n030101:hover {
    background-image: url(/assets/projects/030101b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#9 BOX*/
.n030206 {
    background-image: url(/assets/projects/030206a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n030206:hover {
    background-image: url(/assets/projects/030206b.jpeg);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#10 BOX*/
.n040101 {
    background-image: url(/assets/projects/040101a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n040101:hover {
    background-image: url(/assets/projects/040101b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#11 BOX*/
.n040201 {
    background-image: url(/assets/projects/040201a.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n040201:hover {
    background-image: url(/assets/projects/040201b.jpg);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*#12 BOX*/
.n040301 {
    background-image: url(/assets/projects/040301a.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.n040301:hover {
    background-image: url(/assets/projects/040301b.png);
    /*transform: translateY(-7px);*/
    opacity: 1;
}

/*END OF HOVER IMAGE ETC */

img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

#icon1 {
    font-size: 50px;
    text-decoration: none;
    color: dimgray;
}

#icon1:hover {
    color: #00A89F;
}

#icon2 {
    font-size: 50px;
    text-decoration: none;
    color: dimgray;
}

#icon2:hover {
    color: #00A89F;
}

#icon3 {
    font-size: 50px;
    text-decoration: none;
    color: dimgray;
}

#icon3:hover {
    color: #00A89F;
}

#icon4 {
    font-size: 50px;
    text-decoration: none;
    color: dimgray;
}

#icon4:hover {
    color: #00A89F;
}


/*ASSIGNMENTS*/

/*BACK BUTTON*/
#backbox {
    background-color: gray;
    text-align: center;
    padding: 5%;
    cursor: pointer;

}

#backbutton {
    font-size: 60px;
    color: white;
}

#backbox:hover {
    background-color: darkgray;
}

/*THEME BOX*/

#themebox {
    text-align: center;
    font-size: 150%;
}

/*DWL BOX/BUTTON*/

#dwlbox {
    text-align: center;
    padding: 20px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.projectbtn {
    width: 150px;
    height: 35px;
    font-size: 10px;
    letter-spacing: 2.5px;
    color: black;
    background-color: ghostwhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
}

.projectbtn a{
    color: black;
    text-decoration: none;
}

.projectbtn:hover {
    background-color: #00A89F;
    box-shadow: 0px 5px 15px rgba(0, 168, 159, 0.5);
    color: white;
    transform: translateY(-7px);
}

.projectinfo{
    line-height: 20px;
}

.projectinfo1{
    line-height: 15px;
}
/*NESTED GRID*/
#iconbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin: 2em;
    text-align: center;
    padding-top: 25%;
}

/*BIG*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*background-color: aqua;*/
}

#height1 {
    height: 33vw;
}

#height2 {
    height: 33vw;
}

#height3 {
    height: 33vw;
}

#height4 {
    height: 33vw;
}

#height5 {
    height: 33vw;
}

#height6 {
    height: 33vw;
}

#height7 {
    height: 33vw;
}

#height8 {
    height: 33vw;
}

#height9 {
    height: 33vw;
}

#height10 {
    height: 33vw;
}

#height11 {
    height: 33vw;
}

#height12 {
    height: 33vw;
}

/*MIDDLE*/
@media only screen and (max-width: 780px) {
    main {
        grid-template-columns: 1fr 1fr;
        /*background-color: red;*/
    }

    #assignmentbox {
        background: white;
    }

    #dwlbox {
        background: ghostwhite;
    }

    button {
        background: white;
    }

    .pfoliotxt {
        line-height: 25px;
    }

    #height1 {
        height: 50vw;
    }

    #height2 {
        height: 50vw;
    }

    #height3 {
        height: 50vw;
    }

    #height4 {
        height: 50vw;
    }

    #height5 {
        height: 50vw;
    }

    #height6 {
        height: 50vw;
    }

    #height7 {
        height: 50vw;
    }

    #height8 {
        height: 50vw;
    }

    #height9 {
        height: 50vw;
    }

    #height10 {
        height: 50vw;
    }

    #height11 {
        height: 50vw;
    }

    #height12 {
        height: 50vw;
    }
}


/*SMALL*/
@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
        /*background-color: lavender;*/
    }

    #backbox {
        padding: 5px
    }

    #themebox {
        padding: 1px;
    }

    #assignmentbox {
        background: ghostwhite;
    }

    #height1{
    height: 100vw;
}
    #height2{
    height: 100vw;
}

#height3{
    height: 100vw;
}

#height4{
    height: 100vw;
}

#height5{
    height: 100vw;
}

#height6{
    height: 100vw;
}

#height7{
    height: 100vw;
}

#height8{
    height: 100vw;
}

#height9{
    height: 100vw;
}

#height10{
    height: 100vw;
}

#height11{
    height: 100vw;
}

#height12{
    height: 100vw;
}

}

/*TEST FOR WRITING WHEN SUPER BIG SCREEN*/
@media only screen and (min-width: 1100px) {
    main {
        /*background: blue;*/
        line-height: 30px;
    }
}
